{% verbatim %}
<script id="_single_game_template" type="mustache/template">
	
	<nav id="main_nav_bar" class="nav_bar">
	
		<div><a id="single_game_simulation" method="GET" data-template="#_single_game_template">Run Single Game Simulation</a></div>

		<form action="RUN" method="POST" id="single_game_form">
			<input type="submit" value="RUN" class="waves-effect waves-teal btn-flat"/>
			

		</form>
		</nav>

</script>
{% endverbatim %}



<script id="_main_menu_template" type="mustache/template">
<nav id="main_nav_bar" class="nav_bar">
		<ul>

			<li><a id="login_user" data-template="#_login_form_template">Login</a></li>
			<li><a id="register_user" data-template="#_register_form_template">Register</a></li>
		</ul>
</nav>
</script>



