{% verbatim %}
<script id="_register_form_template" type="mustache/template">
	
	<h5>Register</h5>

		<form action="register" method="POST" id="register_form">
			<input type="text" name="username" placeholder="username" />
			<input type="text" name="password" placeholder="password" />
			<input type="submit" value="Register" class="waves-effect waves-teal btn-flat"/>	
		</form>

            

	<div class="row">
		<form id="shiftform" class="col s12 m12 l12">
	
	<div class="form-group col m4 l4">
		<img src="http://placehold.it/100x100" />
	</div>
	
	<div class="form-group col m4 l4">
		<img src="http://placehold.it/100x100" />
	</div>
	
	<div class="form-group col m4 l4">
		<img src="http://placehold.it/100x100" />
	</div>

	<input type="hidden" id="id" value="0" />
  	</form>


</script>
{% endverbatim %}
