{% verbatim %}
<script id="_set_teams_template" type="mustache/template">

		
	<h5>Choose Your Home/Away Teams and Seasons</h5>

		<form action="set_teams" method="POST" id="set_teams">

			<input type="submit" class="waves-effect waves-teal btn-flat" name="press_submit" value="Set Teams" title="Set Teams"/>			
		</form>


		// <div><a id="entire_season_simulation" method="GET" data-template="#_entire_season_template">Run Entire Season Simulation</a></div>


		// <div><a href="/users/index" id="logout" data-template="#logout_form_template">Logout</a></div>
		
		
</script>
{% endverbatim %}
