{% verbatim %}
<script id="_user_menu_template" type="mustache/template">

	<nav id="main_nav_bar" class="nav_bar">


		<div><a id="single_game" method="GET" data-template="#_single_game_template">Run Single Game Simulation</a></div>

		<div><a id="entire_season_simulation" method="GET" data-template="#_entire_season_template">Run Entire Season Simulation</a></div>


		<div><a href="/users/index" id="logout" data-template="#logout_form_template">Logout</a></div>
		

		

	</nav>
</script>
{% endverbatim %}
